<div class="hero-unit container center">
	<h1>Tutoric</h1>
	<p>Connecting tutors to students.</p>
	<p><small>Enter your email address below and we'll let you know when we're approaching launch next summer.</small></p>
	<form class="form-inline">
		<input type="email" class="input-xxlarge" id="input-form" placeholder="">
		<button type="submit" class="btn btn-primary btn-large">Submit</button>
	</form>
</div><!--/.container -->