<style>

 </style>
<div class="hero-unit container center">
	<a href="mailto:john@tutoric.com?subject=Tutoric%20Enquiry" class="badge badge-inverse"><span class="icon-envelope icon-large mail"></span></a>
	<a href="http://www.facebook.com/tutoric"><img style="float: right; padding-top: 20px;" src="assets/facebook.png"></a>
	<a href="/resources"><span class="badge badge-inverse res">Access Resources</span></a>
	<h1>Tutoric</h1>
	<p>Connecting tutors and students.</p>
	<p><small> Enter your email address below and we'll let you know when we're approaching launch in January 2013.</small></p>
	<!-- Begin MailChimp Signup Form -->
	<form action="http://tutoric.us5.list-manage2.com/subscribe/post?u=794036c35b7ea409222736784&amp;id=c8b042b541" method="post" class="form-inline" id="signUp">
			<input type="text" name="EMAIL" value="" class="span7 email required" id="input-form">
			<input type="submit" value="Submit" name="subscribe" class="btn btn-primary btn-large">
		<div class="row-fluid">
			<div id="error" style="display:none; margin-top: 15px;" class="span7 alert alert-error"></div>
		</div>
	</form>
	<!--End MailChimp Signup Form-->
	
	<p style="color: #999;">Tutoric provides tutors with a revolutionary way to connect with students. Complete your online tutoring profile in seconds and have full control over your availability, allowing you to pick up that extra student when necessary.</p>
	
	<div class="row-fluid">
	  <div class="span4">
		  <h3><i class="icon-book" style="margin: 7px 10px 0 0;"></i> By tutors, for tutors.</h3>
		  <p>As a partnership with over 10 years of experience in the tutoring market, we understand the needs of tutors and the shortcomings of the services that are currently available.</p>
	  </div>
	  <div class="span4">
	  	  <h3><i class="icon-time" style="margin: 7px 10px 0 0;"></i> Flexible, like you.</h3>
	  	  <p>We understand that your schedule is dynamic - with Tutoric, you’ll have the ability to change your availability as many times as you like.</p>
	  </div>
	  <div class="span4">
		  <h3><i class="icon-file" style="margin: 7px 10px 0 0;"></i> Help included.</h3>
		  <p>As part of the package, we offer access to useful tutoring resources such as course outlines, solutions and readers.</p>
	  </div>
	</div>
</div><!--/.container -->