<style>
 #res {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 11pt;
    font-weight: lighter;
    color: #EEE;
    padding: 10px 20px 10px 20px;
    background: black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }
 </style>
<div class="hero-unit container center">
	<a href="http://www.facebook.com/tutoric"><img style="float: right; padding-top: 20px;" src="assets/facebook.png"></a>
	<a href="/"><span class="badge badge-inverse" id="res">Home</span></a>
	<h1>Tutoric</h1>
	<p>Connecting tutors and students.</p>
	<p><small>Tutoric will launch in January 2013. In the mean time, please enjoy the use of our custom tutoring resources.</small></p>
	<table class="table">
		<tr>
			<td><p>Mathematics 2A/2B Course Summary<span class="badge badge-success" style="margin-left: 10px;">NEW</span></p></td>
			<td>
				<a href="#" class="btn btn-primary btn-large" style="float: right; margin-left: 10px;">View</a>
				<a href="#" class="btn btn-success btn-large" style="float: right;">Download</a>
			</td>
		</tr>
		<tr>
			<td><p>Mathematics 3A/3B Course Summary</p></td>
			<td>
				<a href="#" class="btn btn-primary btn-large" style="float: right; margin-left: 10px;">View</a>
				<a href="#" class="btn btn-success btn-large" style="float: right;">Download</a>
			</td>
		</tr>
		<tr>
			<td><p>Mathematics 3C/3D Course Summary</p></td>
			<td>
				<a href="#" class="btn btn-primary btn-large" style="float: right; margin-left: 10px;">View</a>
				<a href="#" class="btn btn-success btn-large" style="float: right;">Download</a>
			</td>
		</tr>
	</div>
	
</div><!--/.container -->