<div class="hero-unit container center">
	<h1>Tutoric</h1>
	<p>Connecting tutors and students.</p>
	<p>Subscription Confirmed</p>
	<p>Thanks for signing up! We'll let you know when we are about to launch this summer.</p>
</div><!--/.container -->