<div class="hero-unit container center">
	<h3><i class="icon-ok" style="margin: 7px 10px 0 0;"></i> Subscription confirmed!</h3>
	<p>Thanks for signing up! We will let you know shortly before we launch in January 2013.</p>
</div><!--/.container -->