<div class="hero-unit container center">
	<h3><i class="icon-envelope-alt" style="margin: 7px 10px 0 0;"></i> Almost finished...</h3>
	<p>You will recieve a link in an email from us shortly, please click on the link to validate your address.</p>
</div><!--/.container -->