// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	padding-top: 60px;
	background: url('/assets/tiny_grid.png') repeat;
}

#input-form {
	padding: 10px;
	margin-right: 10px;
	font-size: 20px;
	line-height: 25px;
}

 .res {
 	float: right;
 	margin-top: 20px;
 	margin-right: 10px;
 	font-size: 11pt;
 	font-weight: lighter;
 	color: #EEE;
 	padding: 10px 20px 10px 20px;
 	background: black;
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	border-radius: 20px;
 }
 
 .mail {
 	 float: right;
 	 margin-top: 20px;
 	 margin-left: 10px;
 	 text-indent: -1px;
 	 line-height: 20px;
 	 font-size: 11pt;
 	 font-weight: lighter;
 	 color: #EEE;
 	 padding: 10px;
 	 background: black;
 	 -webkit-border-radius: 20px;
 	 -moz-border-radius: 20px;
 	 border-radius: 20px;
 }
